<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaulHref = ""></ion-back-button>
      </ion-buttons>
    <ion-title>Produtos-detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab id="icon" vertical="top" horizontal="end" slot="fixed" > 
    <ion-fab-button color="danger" (click)="presentAlert()"  > 
      <ion-icon name="trash" ></ion-icon>
    </ion-fab-button >
  </ion-fab>

  <form *ngIf="modoDeEdicao"  (ngSubmit)="encerrarEdicao()" >
  
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="produtoselecionado.nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Validade:</ion-label>
      <ion-input [(ngModel)]="produtoselecionado.validade" name="validade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor:</ion-label>
      <ion-input [(ngModel)]="produtoselecionado.valor" name="valor" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade:</ion-label>
      <ion-input [(ngModel)]="produtoselecionado.quantidade" name="quantidade" ></ion-input>
    </ion-item>


    
    <ion-button color="dark" shape="round" routerLink="/produtos/" type="submit" id="salvar">Salvar</ion-button>
  </form>


</ion-content>
