<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tela principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tela principal</ion-title>
    </ion-toolbar>
  </ion-header>

<p id="button">
  <ion-button routerLink="/produtos/" >Produtos </ion-button>
  <ion-button>Entrada </ion-button>
  <ion-button>Saída </ion-button>
  <ion-button>Histórico </ion-button>
</p>  
</ion-content>
